*.apk
*.aar
*.ap_
*.aab

*.dex
*.class

bin/
gen/
out/

.gradle/
build/
*/build/
!**/gradle/wrapper/gradle-wrapper.jar

local.properties
*.keystore
*.jks
*.pem

proguard/

*.log
.navigation/

.idea/
*.iml
*.ipr
*.iws
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

captures/

obj/
.externalNativeBuild/
.cxx/

google-services.json

freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

app/**/generated/
app/**/intermediates/
app/**/outputs/
app/**/tmp/

.DS_Store
Thumbs.db
